<!DOCTYPE html>
<html>
    <head>
        <title>Base.html</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/> <!-- css file 소환-->
        <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script> <!--jquery 소환-->
    </head>
    <body>
        <div id="nav" style="float:left"> <!--nav div 생성-->
        Navigation:<br />
            <ul>
                {% block nav %} {% endblock %}
                <li><a href="{{url_for('remote')}}">remote control</a></li>
                <li><a href="{{url_for('music')}}">music</a></li>
            </ul>
        </div>
        <div id="content"> <!--content div 생성-->
            {% block body %} {% endblock %}
        </div>
        
</html>
